<html>
 <head></head>
 
 <body>
  <div class="bg-mask">
  <div class="qsedit">
   <%= form_tag(question_path(@question), method: :patch) do %>
    <h3><%= simple_format(@question.questions) %></h3>
    <!--simple_format()を使うことで改行を反映させることができる-->
     <div class="kaitou">
       <%= radio_button_tag(:answer, @question.choice1) %>
       <%= label_tag(:answer, @question.choice1) %><br>
       <%= radio_button_tag(:answer, @question.choice2) %>
       <%= label_tag(:answer, @question.choice2) %><br>
       <%= radio_button_tag(:answer,  @question.choice3) %>
       <%= label_tag(:answer, @question.choice3) %><br>
       <%= label_tag :学習メモ %><br>
       <%= text_area_tag :comment, nil, placeholder: "メモとして使ってね",  size: "80x10" %><br>
       <!--両方ともだめだった。なぜ？size: "30x10",rows: "50" ,cols: "5"-->
       <!--ただnil,を加えたら大丈夫だった。なぜ？-->
     </div>
    <%= submit_tag("回答") %>
    <!--回答にselect使ってみてもいいかも-->
   <% end %>
  </div>
  </div>
 </body>
</html>
