<html>
 <head></head>
 
 <body>
  <div class="bg-mask">
   <div class="title">Rails Questions</div>
   
   <h1>問題一覧</h1>
   <div class="qsmenu">
    <%= form_for(@question) do |f| %>
      <div class="qs_make">クイズタイトル</qs_make><br>
      <%= f.text_field :title, placeholder: "例：railsコマンド" %><br>
      <div class="qs_make">問題</qs_make><br>
      <%= f.text_field :questions, placeholder: "例：サーバーを立ち上げるコマンドは？" %><br>
      <div class="qs_make">選択肢A</qs_make><br>
      <%= f.text_field :choice1, placeholder: "例：rails routes" %><br>
      <div class="qs_make">選択肢B</qs_make><br>
      <%= f.text_field :choice2, placeholder: "例：rails g" %><br>
      <div class="qs_make">選択肢C</qs_make><br>
      <%= f.text_field :choice3, placeholder: "例：rails s" %><br>
      <div class="qs_make">正解</qs_make><br>
      <%= f.text_field :correct, placeholder: "例：rails s" %><br>
      <%= f.submit "問題を作る" %><br>
    <% end %>
    
    <% @questions.each do |question| %>
      <%= question.title %>
      <%=link_to "問題へ", "/questions/#{question.id}/edit", method: :get  %><br>
      
    <% end %>
   </div>
  </div>
 </body>
 
</html>